body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

h1 {
    text-align: center;
    color: black;
    border: 2px solid black;
}

.center-img {
    display: block;
    margin: 0px auto;
}

.recipelist, .ing_steplist{
    color: black;
    list-style-type: square;
    padding-left: 10px;
}

.recipelist {
    margin: 50px 40px;
    padding-bottom: 20px;
}

ul, ol {
    padding: 0px;
 }

.ing_steplist {
    padding-left: 20px;    
    list-style-position: inside;
}

li {
    padding-bottom: 20px;
}

.homebutton {
    color: beige;
    display: block;
    float:right;
    border: 2px solid black;
    padding: 5px 20px;
    background-color: green;
    margin: 30px;
}